<div class="overflow-hidden shadow-lg max-w-4xl self-center rounded mx-auto mt-10">

  <%= image_tag @article.picture, class:"w-full" %>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"><%= @article.title %></div>
    <p class="text-gray-700 text-base break-words">
      <%= @article.body %>
    </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">by <%= @article.user.username %></span>
    <% voted = current_user && @article.user_voted?(current_user.id)%>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
    liked:
    <%= @article.vote_counter if @article.vote_counter && @article.vote_counter > 0 %>
    <% if current_user %>
    <%= link_to voted ? unvotearticle_path(@article.id):votearticle_path(@article.id) do %>
    </span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
    <%  if voted %>
      <i class="fas fa-thumbs-down hover:bg-transparent"></i>
   <% else %>
      <i class="fas fa-thumbs-up hover:bg-transparent"></i>
      <% end %>
<% end %>
<% end %>
    </span>
  </div>
</div>