

<% rev = false %>

<% @category.articles.order(created_at: :desc).each_with_index do |art,i| %>
<div class="grid grid-cols-2 m-3">
  <div class="">
    <%= image_tag art.picture %>
  </div>
  <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      <% if art.vote_counter > 0 %>
      <p class="text-lg text-gray-600 flex items-center">
        <%= art.vote_counter if art.vote_counter && art.vote_counter > 0 %>
        <span class="text-lg px-3">People loved it!</span>
      </p>
      <% end %>
      <div class="text-gray-900 font-bold text-xl mb-2"><%= art.title %></div>
      <p class="text-gray-700 text-base"><%= art.truncate %></p>
    </div>
    <div class="flex items-center">

      <div class="text-sm">
        <p class="text-gray-900 leading-none">by <%= art.user.username %></p>
        <p class="text-gray-600">
        <div>
            <%= link_to 'View full &#8594;'.html_safe, article_path(art.id)  %>
          </div>
    
            <% voted = current_user && art.user_voted?(current_user.id)%>
            <%= link_to voted ? unvotearticle_path(art.id):votearticle_path(art.id), class:'vote-btn' do %>
            <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

    <% rev = !rev if (i+1).even? %>
<% end %>